.personDetails {
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}

.formSectionPersonDetails {
  .required {
    display: inline;
    color: red;
  }
}

.fieldError {
  color: red;
  font-size: 12px;
  display: inline-flex;
}

:global(.ant-select) {
  width: 100%;
}
